.article {
	margin: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed gray;
}

.error {
	color: red;
	font-style: italic;
}

.login {
	display: flex;
	gap: 5px;
	margin-bottom: 20px;
}

header {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

fieldset {
	margin-bottom: .75rem;
}